<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
  {% if 'vandar' in url or 'walleta' in url or 'ghesta' in url %}
  <form id="bank-form" method="get" action="{{ url }}">

      {% for key, value in data.items %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endfor %}

  </form>
  {% else %}


<form id="bank-form" method="post" action="{{ url }}">

    {% for key, value in data.items %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}

</form>
{% endif %}
<script>
    document.getElementById('bank-form').submit();
</script>
</body>
</html>
