{% extends 'pardakht/base.html' %}

{% block container %}
    <div class="ui fluid raised blue segment">
        <div class="ui header">
            اطلاعات پرداخت
        </div>
        <div class="ui relaxed divided list">
            <div class="item">
                <i class="large money bill alternate outline middle aligned icon"></i>
                <div class="content">
                    <a class="header">مبلغ پرداخت</a>
                    <div class="description" style="margin-top: 7px;">{{ payment.price }} تومان </div>
                </div>
            </div>
            <div class="item">
                <i class="large file outline middle aligned icon"></i>
                <div class="content">
                    <a class="header">توضیحات پرداخت</a>
                    <div class="description" style="margin-top: 7px;">{{ payment.description }}</div>
                </div>
            </div>
        </div>
        <div>
            {% for gateway in gateways %}
                <a class="ui large blue button" style="margin-bottom: 1rem;" href="{% url 'pardakht:select_gateway' payment.slug gateway.name %}">
                    پرداخت از طریق {{ gateway.display_name }}
                </a>
                {% empty %}
                درگاهی تعریف نشده است!
            {% endfor %}
            <a class="ui large blue button", id="btn_pay_walleta">درگاه اقساطی ولتا</a>
            <a class="ui large blue button", id="btn_pay_ghesta">درگاه اقساطی قسطا</a>

        </div>
    </div>

{% endblock %}
{% block walleta %}
<div>
    <div id="form_modal_walleta">
        <form id="pay_form_walleta">
          <p>برای استفاده از درگاه والتا، در ابتدا باید در این سایت حساب کاربری ساخته و پس از آن در هنگام پرداخت اطلاعات خود را در سایت ایگرد وارد نمایید.</p>
            <label for="name">
                نام
                <input name="payer_first_name" id="name" type="text" required>
            </label>
            <label for="lastname">
                نام خانوادگی
                <input name="payer_last_name" id="lastname" type="text" required>
            </label>
            <label for="code">
                کد ملی
                <input name="payer_national_code" id="code" type="number" required>
            </label>
            <label for="phone">
                تلفن همراه
                <input name="payer_mobile" id="phone" type="number" required>
            </label>
            <input id="slug" name="slug"  type="hidden" value="{{ payment.slug }}">
            <input id="gateway" name="gateway"  type="hidden" value="walleta">



            <button type="submit"><p class='sub_text'>ارسال</p></button>
            <button type="button", id="close">خروج</button>

        </form>
    </div>
</div>
{% endblock %}
{% block ghesta %}
<div>
    <div id="form_modal_ghesta">
        <form id="pay_form_ghesta">
            <p>برای استفاده از درگاه قسطا، در ابتدا باید در این سایت حساب کاربری ساخته و پس از آن در هنگام پرداخت اطلاعات خود را در سایت ایگرد واربد نمایید.</p>
            <label for="name">
                نام و نام خانوادگی
                <input name="‫‪payerName‬‬" id="name" type="text" required>
            </label>

            <label for="‫‪payerIndentity‬‬">
                تلفن همراه
                <input name="payer_mobile" id="phone" type="number" required>
            </label>
            <input id="slug" name="slug"  type="hidden" value="{{ payment.slug }}">
            <input id="gateway" name="gateway"  type="hidden" value="ghesta">

            <button type="submit"><p class='sub_text'>ارسال</p></button>
            <button type="button", id="close">خروج</button>

        </form>
    </div>
</div>
{% endblock %}
