{% extends 'pardakht/base.html' %}
{% block container %}
<div class="ui fluid red segment">
{% if errors %}
<p>{{ errors.message}}</p>
{% for field in errors.invalid_fields %}
{{ field.field }} : {{field.message }}
{% endfor %}
{% else %}
اتصال به درگاه پرداخت موفقیت آمیز نبود. لطفا بعدا تلاش کنید یا با پشتیبانی تماس بگیرید.
{% endif %}
</div>

{% endblock %}
