html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

html::before, body::before, html::after, body:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form_modal_ghesta, #form_modal_walleta {
    width: 60vw;
    height: 80vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #e5e6f2;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 #00000029;
    display: none;
}

#form_modal_walleta.active, #form_modal_ghesta.active {
    display: flex;
}

.button-close-modal {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    width: 88%;
    height: 89%;
    margin: 0 auto;
    position: relative;
}

form p {
  text-align: center;
}

form label {
    margin-bottom: 1rem;
}

form label input {
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: 0 3px 6px 0 #00000029;
    border-radius: 10px;
    margin-top: .5rem;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-right: 10rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
